* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: #032f53;
}

body {
  background-color: #fff7e7;
  align-items: center;

  font-family: Lugrasimo, sans-serif;
}

.quote-container {
  margin: auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  background-color: #e28258;
  width: 100%;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-weight: normal;
  text-align: center;

  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.1rem;
}

.quote {
  padding: 2rem 1rem 3rem 1rem;
  font-size: 1.3rem;
  text-align: left;
}

.author {
  position: relative;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.author__name {
  position: absolute;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: normal;
  background-color: #fff7e7;
  white-space: nowrap;

  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.author__divider {
  position: absolute;
  height: 2px;
  border: none;
  width: calc(100% - 2rem);
  background: #e28258;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.divider {
  width: 80%;
  margin: auto;
}

.api-container {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.column {
  flex: 1;
  margin-top: 40px;
  height: fit-content;
  padding: 20px;
  background-color: #f0f0f0;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  border-radius: 12px;
  border: 1px solid #f0bea8;
}
.column:nth-child(2) {
  flex: 2;
}

.column__title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 30px;
}

.links-container {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  margin: 60px auto 60px auto;
  max-width: 80%;
  font-size: 0.8rem;
}

.links-container__item {
  margin: 1rem;
}

.api-link {
  /*background: #cfcfcf;*/
  /*border-radius: 15px;*/
  color: #e28258;
  font-weight: bold;
  font-size: 1rem;
  width: fit-content;
  margin: auto;
  padding: 1rem;
}

.api-reference {
  margin-top: 12px;
  list-style: none;
}

.api-reference__item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0bea8;
  padding-top: 8px;
  padding-bottom: 8px;
}

.api-reference__item__method {
  font-weight: bold;
  background-color: #e28258;
  padding: 4px 8px 4px 8px;
  border-radius: 6px;
}
.api-reference__item__name {
  text-align: right;
}

.request__url,
.response__status {
  width: 100%;
  font-weight: bold;
  text-align: left;
  color: #e28258;
  margin-left: 30px;
}

/*table*/
.request__params {
  margin-top: 30px;
  border: 1px solid #f0bea8;
  width: 100%;
  th,
  td {
    border: 1px solid #f0bea8;
    padding: 8px;
  }
}

pre {
  margin-top: 30px;
  border: 1px solid #f0bea8;
  border-radius: 6px;
  font-family: "Fira Code", monospace;
  font-size: 1rem;
}

@media only screen and (min-width: 380px) {
  .quote-container {
    width: 80%;
  }

  .title {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
  }

  .quote {
    padding: 2rem 3rem 4rem 3rem;
    font-size: 2rem;
  }

  .author {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .author__name {
    font-size: 1.5rem;
  }

  .author__divider {
    width: calc(100% - 6rem);
  }

  .links-container {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 850px) {
  .quote-container {
    width: 800px;
  }

  .title {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem;
  }

  .quote {
    padding: 3rem 6rem 3rem 6rem;
    font-size: 3.5rem;
  }

  .author {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .author__name {
    font-size: 2.5rem;
  }

  .author__divider {
    width: calc(100% - 12rem);
  }

  .api-container {
    flex-direction: row;
    height: 80vh;
  }

  .links-container {
    height: 10vh;
    margin: 0 auto 10vh auto;
    font-size: 1.5rem;
  }
}
